body {
	background: #292929 url('/img/bg-5.jpg');
	background-size: cover;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	position: relative;
}

.fade-in-up{
	filter: opacity(0);
	transition-timing-function: ease-out;
	animation: fadeInUp 1500ms forwards;
}

.fade-in-up-slow-small{
	filter: opacity(0);
	transition-timing-function: ease-out;
	animation: fadeInUpSlowSmall 1500ms forwards;
}
.fade-in{
	filter: opacity(0);
	transition-timing-function: ease-out;
	animation: fadeIn 3000ms forwards;
}

.delay-500 {
	animation-delay: 500ms;
}
.delay-750 {
	animation-delay: 750ms;
}

.delay-1000 {
	animation-delay: 1000ms;
}

@keyframes fadeInUp {
	0% {
		transform: translateY(2rem);
		filter: opacity(0);
	}

	100% {
		transform: translateY(0);
		filter: opacity(1);
	}
}
@keyframes fadeInUpSlowSmall {
	0% {
		transform: translateY(1rem);
		filter: opacity(0);
	}

	100% {
		transform: translateY(0);
		filter: opacity(1);
	}
}

@keyframes fadeIn {
	0% {
		filter: opacity(0);
	}

	100% {
		filter: opacity(0.4);
	}
}

/* Background flashers */
.orange-flasher {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: radial-gradient(at top left, rgba(255, 113, 0, 0.7) 0%, rgba(255, 0, 76, 0) 90%);
	animation-timing-function: ease-in-out;
	animation: pulse 12s infinite;

}
.pink-flasher {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: radial-gradient(at bottom right, rgba(255, 0, 170, 0.7) 0%, rgba(163, 0, 255, 0) 90%);
	animation-timing-function: ease-in-out;
	animation: pulse 12s infinite;
	animation-delay: 3s;
}
.indigo-flasher{
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: radial-gradient(at 80% -10%, rgba(0, 18, 255, 0.8) 0%, rgba(163, 0, 255, 0) 70%);
	animation-timing-function: ease-in-out;
	animation: pulse 12s infinite;
	animation-delay: 6s;
}
.green-flasher{
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: radial-gradient(at bottom left, rgba(0, 255, 4, 0.3) 0%, rgba(0, 255, 169, 0) 80%);
	animation-timing-function: ease-in-out;
	animation: pulse 12s infinite;
	animation-delay: 9s;
}

@keyframes pulse {
	0% {
		filter: opacity(1);
	}

	50% {
		filter: opacity(0.7);
	}

	100% {
		filter: opacity(1);
	}
}